@font-face {
	font-family: 'CaptureIt';
	src: url('/fonts/Capture_it.ttf');
}

html, body, .main {
	height: 100%;
}

body {
	background: #000;
}

.main {
	background: #FFF;
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}

h1 {
	font-family: 'CaptureIt';
	font-size: 14vw;
	text-align: center;
}
h3 {
	font-family: 'CaptureIt';
	font-size: 24px;
}
