@font-face {
	font-family: 'CaptureIt';
	src: url('/fonts/Capture_it.ttf');
}
@font-face {
	font-family: 'Abril';
	src: url('/fonts/AbrilFatface-Regular.otf');
}

h1 {
	font-family: 'Abril';
	font-size: 36px;
}
h3 {
	font-family: 'CaptureIt';
	font-size: 24px;
}
